nav {
   background-color: #fecb62;
}

.container {
   display: flex;
   justify-content: space-between;
   max-width: 80rem;
   margin: 0 auto;
   padding: 0;
}

.container ul {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
}
.container ul li {
   list-style: none;
}

.container ul li a {
   text-decoration: none;
   color: #000;
   background-color: #fff;
   font-weight: bold;
   font-size: 1.25rem;
   border: 3px solid #000;
   padding: 6px 20px;
   display: block;
   transition: ease 0.2s;
}

.container ul li a:hover {
   background: #000;
   color: #fecb62;
   border: 3px solid #fff;
}

.container ul li a:focus {
   background: #000;
   color: #fecb62;
   border: 3px solid #fff;
}

.admin-search {
   padding: 20px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.admin-search input {
   padding: 8px;
   padding-left: 40px;
   outline: none;
   border: 3px solid #000;
   width: 15rem;
   transition: 0.3s;
}

.admin-search input:focus {
   box-shadow: 0 0 6px 2px #000;
}

.admin-search img {
   position: relative;
   width: 1.5rem;
   right: -35px;
   filter: opacity(70%);
}
