.destaques-title {
   text-align: center;
   padding-top: 40px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-end {
   display: flex;
   gap: 40px;
   justify-content: center;
   margin-bottom: 12px;
}

.card {
   max-width: 13.75rem;
   border: 3px solid #000;
   border-radius: 0;
   box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
   flex-wrap: wrap;
}

.card-text {
   font-size: 0.875rem !important;
   color: #838898;
}

.card-title {
   font-size: 1.125rem;
}

.carousel-indicators {
   display: none;
}
