.newsletter-bg {
  color: #fff;
  background: #000;
  padding: 40px 0;
}

.news-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
}

.news-container > p {
  max-width: 15rem;
}

.news-items {
  display: flex;
  align-items: center;
}

.news-items > h1 {
  font-weight: bold;
}

.input-box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
}

.input-box-button input[type="email"] {
  padding: 0.625rem;
  width: 30rem;
  outline: none;
  border: 4px solid #fecb62;
  font-size: 18px;
  padding-left: 20px;
}
.input-box-button input[type="email"]::placeholder {
  font-size: 1.375rem;
}
.input-box-button input[type="button"] {
  height: 3.4375rem;
  width: 11.25rem;
  background: #fecb62;
  border-left: none;
  font-size: 2rem;
}
