.container-form {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 123px 0;
  gap: 200px;
}

.form-edit label {
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.form-edit input,
.form-edit textarea {
  padding: 4px;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
  max-width: 100%;
  width: 320px;
  border: 3px solid #000;
  margin-bottom: 10px;
  transition: 0.3s;
  margin-left: 0;
  display: block;
}

.form-edit textarea {
  margin-bottom: 0;
}

.form-edit input:focus {
  scale: 1.07;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.form-edit textarea:focus {
  scale: 1.04;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.form-edit button {
  padding: 6px 0;
  width: 200px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #838898;
  background: none;
  border: 3px solid #838898;
  transition: 0.3s;
}

.form-edit button:hover {
  scale: 1.07;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  border-color: #000;
  color: #000;
}
